<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.message.dao.LabelMapper" >
  <resultMap id="BaseResultMap" type="com.shu.message.model.entity.Label" >
    <id column="label_id" property="labelId" jdbcType="VARCHAR" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>

  <!--&lt;!&ndash;这个是统计每一个标签有多少新闻&ndash;&gt;-->
  <!--<resultMap id="LabelNumResultMap" type="com.shu.message.model.ov.resultsetting.LabelNewsNum" >-->
  <!--<id column="label_id" property="labelId" jdbcType="VARCHAR" />-->
  <!--<result column="label_name" property="labelName" jdbcType="VARCHAR" />-->
  <!--<result property="num" jdbcType="INTEGER" />-->
<!--</resultMap>-->
  <!--根据userId查找他关注了哪些标签-->
  <!--找到用户所有的标签中 今天有新闻的那部分-->
  <!--然后对这些标签按照点赞数进行排序-->
  <select id="getLabels" resultMap="BaseResultMap" parameterType="java.lang.String">
    select tbl_Label.label_id, label_name
    from tbl_UserAndLabel join tbl_Label on tbl_Label.label_id = tbl_UserAndLabel.label_id
                          join tbl_NewsAndLabel as x on x.label_id = tbl_UserAndLabel.label_id
                          join tbl_News on x.news_id = tbl_News.news_id
    where tbl_UserAndLabel.user_id = #{userId,jdbcType=VARCHAR}
--  这里判断这个标签今天有没有新闻
    and exists(select y.news_id
               from tbl_News as y
               where y.create_date &gt;=(NOW() - interval 12 hour)
                  and x.news_id = y.news_id)
    group by tbl_UserAndLabel.label_id
    order by sum(like_num) desc
  </select>
  <!--获取到每一个标签有多少数量-->
  <select id="getLabelNum" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*) as num
    from tbl_UserAndLabel join tbl_Label on tbl_Label.label_id = tbl_UserAndLabel.label_id
                          join tbl_NewsAndLabel on tbl_NewsAndLabel.label_id = tbl_UserAndLabel.label_id
                          join tbl_News on tbl_NewsAndLabel.news_id = tbl_News.news_id
    where tbl_UserAndLabel.user_id = #{userId,jdbcType=VARCHAR} and tbl_News.create_date &gt;=(NOW() - interval 12 hour)
    group by tbl_UserAndLabel.label_id
  </select>








  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    label_id, label_name, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shu.message.model.entity.LabelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_Label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_Label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_Label
    where label_id = #{labelId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.message.model.entity.LabelExample" >
    delete from tbl_Label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.message.model.entity.Label" >
    insert into tbl_Label (label_id, label_name, user_id
      )
    values (#{labelId,jdbcType=VARCHAR}, #{labelName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shu.message.model.entity.Label" >
    insert into tbl_Label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        label_id,
      </if>
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelId != null" >
        #{labelId,jdbcType=VARCHAR},
      </if>
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.message.model.entity.LabelExample" resultType="java.lang.Integer" >
    select count(*) from tbl_Label
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_Label
    <set >
      <if test="record.labelId != null" >
        label_id = #{record.labelId,jdbcType=VARCHAR},
      </if>
      <if test="record.labelName != null" >
        label_name = #{record.labelName,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_Label
    set label_id = #{record.labelId,jdbcType=VARCHAR},
      label_name = #{record.labelName,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.message.model.entity.Label" >
    update tbl_Label
    <set >
      <if test="labelName != null" >
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.message.model.entity.Label" >
    update tbl_Label
    set label_name = #{labelName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where label_id = #{labelId,jdbcType=VARCHAR}
  </update>
</mapper>