<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.message.dao.ShareMapper" >
  <!--<resultMap id="BaseResultMap" type="com.shu.message.model.entity.Share" >-->
    <!--<id column="share_id" property="shareId" jdbcType="INTEGER" />-->
    <!--<result column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="type" property="type" jdbcType="INTEGER" />-->
    <!--<result column="users_id" property="usersId" jdbcType="INTEGER" />-->
    <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />-->
    <!--<result column="shared" property="shared" jdbcType="BIT" />-->
  <!--</resultMap>-->
  <!--<sql id="Base_Column_List" >-->
    <!--share_id, id, type, users_id, create_time, delete_time, shared-->
  <!--</sql>-->
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from tbl_share-->
    <!--where share_id = #{shareId,jdbcType=INTEGER}-->
  <!--</select>-->
  <!--<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >-->
    <!--delete from tbl_share-->
    <!--where share_id = #{shareId,jdbcType=INTEGER}-->
  <!--</delete>-->
  <!--<insert id="insert" parameterType="com.shu.message.model.entity.Share" >-->
    <!--insert into tbl_share (share_id, id, type, -->
      <!--users_id, create_time, delete_time, -->
      <!--shared)-->
    <!--values (#{shareId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, -->
      <!--#{usersId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{deleteTime,jdbcType=TIMESTAMP}, -->
      <!--#{shared,jdbcType=BIT})-->
  <!--</insert>-->
  <!--<insert id="insertSelective" parameterType="com.shu.message.model.entity.Share" >-->
    <!--insert into tbl_share-->
    <!--<trim prefix="(" suffix=")" suffixOverrides="," >-->
      <!--<if test="shareId != null" >-->
        <!--share_id,-->
      <!--</if>-->
      <!--<if test="id != null" >-->
        <!--id,-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--type,-->
      <!--</if>-->
      <!--<if test="usersId != null" >-->
        <!--users_id,-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time,-->
      <!--</if>-->
      <!--<if test="deleteTime != null" >-->
        <!--delete_time,-->
      <!--</if>-->
      <!--<if test="shared != null" >-->
        <!--shared,-->
      <!--</if>-->
    <!--</trim>-->
    <!--<trim prefix="values (" suffix=")" suffixOverrides="," >-->
      <!--<if test="shareId != null" >-->
        <!--#{shareId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="id != null" >-->
        <!--#{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--#{type,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="usersId != null" >-->
        <!--#{usersId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--#{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="deleteTime != null" >-->
        <!--#{deleteTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="shared != null" >-->
        <!--#{shared,jdbcType=BIT},-->
      <!--</if>-->
    <!--</trim>-->
  <!--</insert>-->
  <!--<update id="updateByPrimaryKeySelective" parameterType="com.shu.message.model.entity.Share" >-->
    <!--update tbl_share-->
    <!--<set >-->
      <!--<if test="id != null" >-->
        <!--id = #{id,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="type != null" >-->
        <!--type = #{type,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="usersId != null" >-->
        <!--users_id = #{usersId,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="deleteTime != null" >-->
        <!--delete_time = #{deleteTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="shared != null" >-->
        <!--shared = #{shared,jdbcType=BIT},-->
      <!--</if>-->
    <!--</set>-->
    <!--where share_id = #{shareId,jdbcType=INTEGER}-->
  <!--</update>-->
  <!--<update id="updateByPrimaryKey" parameterType="com.shu.message.model.entity.Share" >-->
    <!--update tbl_share-->
    <!--set id = #{id,jdbcType=INTEGER},-->
      <!--type = #{type,jdbcType=INTEGER},-->
      <!--users_id = #{usersId,jdbcType=INTEGER},-->
      <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--delete_time = #{deleteTime,jdbcType=TIMESTAMP},-->
      <!--shared = #{shared,jdbcType=BIT}-->
    <!--where share_id = #{shareId,jdbcType=INTEGER}-->
  <!--</update>-->
</mapper>