<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shumsg.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.shumsg.model.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="register_way" property="registerWay" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="editable_nickname_times" property="editableNicknameTimes" jdbcType="INTEGER" />
    <result column="student_card_id" property="studentCardId" jdbcType="VARCHAR" />
    <result column="normal_login_id" property="normalLoginId" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="CHAR" />
    <result column="password_salt" property="passwordSalt" jdbcType="VARCHAR" />
    <result column="actual_name" property="actualName" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="about" property="about" jdbcType="VARCHAR" />
    <result column="location" property="location" jdbcType="VARCHAR" />
    <result column="birthplace" property="birthplace" jdbcType="VARCHAR" />
    <result column="school" property="school" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="VARCHAR" />
    <result column="invalid" property="invalid" jdbcType="BIT" />
    <result column="avatar" property="avatar" jdbcType="CHAR" />
    <result column="background" property="background" jdbcType="CHAR" />
    <result column="consequent_login_days" property="consequentLoginDays" jdbcType="INTEGER" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="push_interval" property="pushInterval" jdbcType="SMALLINT" />
    <result column="last_push_time" property="lastPushTime" jdbcType="TIMESTAMP" />
    <result column="social_group_num" property="socialGroupNum" jdbcType="INTEGER" />
    <result column="following_num" property="followingNum" jdbcType="INTEGER" />
    <result column="follower_num" property="followerNum" jdbcType="INTEGER" />
    <result column="my_groups_num" property="myGroupsNum" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="delete_time" property="deleteTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, register_way, nickname, editable_nickname_times, student_card_id,
    normal_login_id, password,password_salt, actual_name, department, phone, mail, birthday, gender, about, location,
    birthplace, school, job, identity, invalid, avatar, background, consequent_login_days, last_login_time,
    push_interval, last_push_time, social_group_num, following_num, follower_num, my_groups_num,
    create_time, delete_time
  </sql>

  <!--更新用户部分信息-->
  <update id="updateUserByModifyUserInfo" parameterType="com.shumsg.model.front.ModifyUserInfo">
    update tbl_user
    <set >
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="editableNicknameTimes != null" >
        editable_nickname_times = #{editableNicknameTimes,jdbcType=INTEGER},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="about != null" >
        about = #{about,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        birthplace = #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <!--<if test="identity != null" >-->
        <!--identity = #{identity,jdbcType=VARCHAR},-->
      <!--</if>-->
      <!--<if test="invalid != null" >-->
        <!--invalid = #{invalid,jdbcType=BIT},-->
      <!--</if>-->
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=CHAR},
      </if>
      <if test="background != null" >
        background = #{background,jdbcType=CHAR},
      </if>
      <!--<if test="consequentLoginDays != null" >-->
        <!--consequent_login_days = #{consequentLoginDays,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="lastLoginTime != null" >-->
        <!--last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="pushInterval != null" >-->
        <!--push_interval = #{pushInterval,jdbcType=SMALLINT},-->
      <!--</if>-->
      <!--<if test="lastPushTime != null" >-->
        <!--last_push_time = #{lastPushTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="socialGroupNum != null" >-->
        <!--social_group_num = #{socialGroupNum,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="followingNum != null" >-->
        <!--following_num = #{followingNum,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="followerNum != null" >-->
        <!--follower_num = #{followerNum,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="myGroupsNum != null" >-->
        <!--my_groups_num = #{myGroupsNum,jdbcType=INTEGER},-->
      <!--</if>-->
      <!--<if test="createTime != null" >-->
        <!--create_time = #{createTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <!--<if test="deleteTime != null" >-->
        <!--delete_time = #{deleteTime,jdbcType=TIMESTAMP},-->
      <!--</if>-->
      <if test="normalLoginId != null" >
        normal_login_id = #{normalLoginId,jdbcType=VARCHAR},
      </if>
      <if test="passwordSalt != null" >
        password_salt = #{passwordSalt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}::uuid
  </update>

  <!--更新用户可修改昵称次数-->
  <update id="updateEditableNicknameTimes">
    update tbl_user
    <set>
      editable_nickname_times = #{editableNicknameTimes,jdbcType=INTEGER}
    </set>
  </update>

  <!--根据学生学号查找用户-->
  <select id="selectUserByStudentCardId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where student_card_id = #{studentCardId,jdbcType=VARCHAR}
  </select>

  <!--根据UUID查找用户-->
  <select id="selectUserByUUId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where id = #{uuid,jdbcType=VARCHAR}::uuid
  </select>

  <!--根据用户自定义登录账号查找用户-->
  <select id="selectUserByNormalLoginId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where normal_login_id = #{normalLoginId,jdbcType=VARCHAR}
  </select>

  <!--插入一个新的用户-->
  <insert id="insert" parameterType="com.shumsg.model.entity.User" keyProperty="id" useGeneratedKeys="true">
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="registerWay != null" >
        register_way,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="editableNicknameTimes != null" >
        editable_nickname_times,
      </if>
      <if test="studentCardId != null" >
        student_card_id,
      </if>
      <if test="normalLoginId != null" >
        normal_login_id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="passwordSalt != null" >
        password_salt,
      </if>
      <if test="actualName != null" >
        actual_name,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="about != null" >
        about,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="birthplace != null" >
        birthplace
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="invalid != null" >
        invalid,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="background != null" >
        background,
      </if>
      <if test="consequentLoginDays != null" >
        consequent_login_days,
      </if>
      <if test="lastLoginTime != null" >
        last_login_time,
      </if>
      <if test="pushInterval != null" >
        push_interval,
      </if>
      <if test="lastPushTime != null" >
        last_push_time,
      </if>
      <if test="socialGroupNum != null" >
        social_group_num,
      </if>
      <if test="followingNum != null" >
        following_num,
      </if>
      <if test="followerNum != null" >
        follower_num,
      </if>
      <if test="myGroupsNum != null" >
        my_groups_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="deleteTime != null" >
        delete_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="registerWay != null" >
        #{registerWay,jdbcType=VARCHAR}::logintype,
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="editableNicknameTimes != null" >
        #{editableNicknameTimes,jdbcType=INTEGER},
      </if>
      <if test="studentCardId != null" >
        #{studentCardId,jdbcType=VARCHAR},
      </if>
      <if test="normalLoginId != null" >
        #{normalLoginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=CHAR},
      </if>
      <if test="passwordSalt != null" >
        #{passwordSalt,jdbcType=VARCHAR},
      </if>
      <if test="actualName != null" >
        #{actualName,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="about != null" >
        #{about,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="birthplace != null" >
        #{birthplace,jdbcType=VARCHAR},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=VARCHAR}::useridentity,
      </if>
      <if test="invalid != null" >
        #{invalid,jdbcType=BIT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=CHAR},
      </if>
      <if test="background != null" >
        #{background,jdbcType=CHAR},
      </if>
      <if test="consequentLoginDays != null" >
        #{consequentLoginDays,jdbcType=INTEGER},
      </if>
      <if test="lastLoginTime != null" >
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pushInterval != null" >
        #{pushInterval,jdbcType=SMALLINT},
      </if>
      <if test="lastPushTime != null" >
        #{lastPushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="socialGroupNum != null" >
        #{socialGroupNum,jdbcType=INTEGER},
      </if>
      <if test="followingNum != null" >
        #{followingNum,jdbcType=INTEGER},
      </if>
      <if test="followerNum != null" >
        #{followerNum,jdbcType=INTEGER},
      </if>
      <if test="myGroupsNum != null" >
        #{myGroupsNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteTime != null" >
        #{deleteTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


</mapper>