<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shu.message.dao.UserAndGroupMapper" >
  <resultMap id="BaseResultMap" type="com.shu.message.model.entity.UserAndGroup" >
    <id column="users_and_groups_id" property="usersAndGroupsId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="other_group_id" property="otherGroupId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    users_and_groups_id, user_id, other_group_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.shu.message.model.entity.UserAndGroupExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_UserAndGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_UserAndGroup
    where users_and_groups_id = #{usersAndGroupsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_UserAndGroup
    where users_and_groups_id = #{usersAndGroupsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.shu.message.model.entity.UserAndGroupExample" >
    delete from tbl_UserAndGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shu.message.model.entity.UserAndGroup" >
    insert into tbl_UserAndGroup (users_and_groups_id, user_id, other_group_id, 
      create_time)
    values (#{usersAndGroupsId,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{otherGroupId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.shu.message.model.entity.UserAndGroup" >
    insert into tbl_UserAndGroup
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="usersAndGroupsId != null" >
        users_and_groups_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="otherGroupId != null" >
        other_group_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="usersAndGroupsId != null" >
        #{usersAndGroupsId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="otherGroupId != null" >
        #{otherGroupId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shu.message.model.entity.UserAndGroupExample" resultType="java.lang.Integer" >
    select count(*) from tbl_UserAndGroup
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_UserAndGroup
    <set >
      <if test="record.usersAndGroupsId != null" >
        users_and_groups_id = #{record.usersAndGroupsId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.otherGroupId != null" >
        other_group_id = #{record.otherGroupId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_UserAndGroup
    set users_and_groups_id = #{record.usersAndGroupsId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=VARCHAR},
      other_group_id = #{record.otherGroupId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shu.message.model.entity.UserAndGroup" >
    update tbl_UserAndGroup
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="otherGroupId != null" >
        other_group_id = #{otherGroupId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where users_and_groups_id = #{usersAndGroupsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shu.message.model.entity.UserAndGroup" >
    update tbl_UserAndGroup
    set user_id = #{userId,jdbcType=VARCHAR},
      other_group_id = #{otherGroupId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where users_and_groups_id = #{usersAndGroupsId,jdbcType=INTEGER}
  </update>
</mapper>